@model AudioTel.Models.Gravacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gravacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdBancoCliente" class="control-label"></label>
                <select asp-for="IdBancoCliente" class="form-control" asp-items="ViewBag.IdBancoCliente"></select>
                <span asp-validation-for="IdBancoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeDoArquivo" class="control-label"></label>
                <input asp-for="NomeDoArquivo" class="form-control" />
                <span asp-validation-for="NomeDoArquivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileSize" class="control-label"></label>
                <input asp-for="FileSize" class="form-control" />
                <span asp-validation-for="FileSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ramal" class="control-label"></label>
                <input asp-for="Ramal" class="form-control" />
                <span asp-validation-for="Ramal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
