@{
    ViewData["Title"] = "AudioVideo";
}

<h1>AudioVideo</h1>

<div id="content">
    <video id="audioplayer" src="@Url.Content("~/Content/SambaDeVerao.mp3")" controls width="200" height="100" loop />
    <video id="videoplayer" src="@Url.Content("~/Content/CountOnMeBrunoMars.mp4")" controls width="450" height="450" loop />
</div>